flows/count_green_taxi_in_2020.yml
id: count_green_taxi_in_2020
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

tasks:
  - id: bq_green_tripdata
    type: io.kestra.plugin.gcp.bigquery.Query
    fetch: true
    sql: |
      SELECT count(1) as count from `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.green_tripdata` WHERE filename LIKE 'green_tripdata_2020%';
  - id: use_fetched_data
    type: io.kestra.plugin.core.debug.Return
    format: |
      {% for row in outputs.bq_green_tripdata.rows %}
      number of rows is {{ row.count }}
      {% endfor %}

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
      dataset: "{{kv('GCP_DATASET')}}"
